Django==4.2.11
requests==2.31.0
certifi==2023.11.17
urllib3==2.0.7
idna==3.6
charset-normalizer==3.1.0
chardet==5.2.0
PyYAML==6.0.1
python-dotenv==1.0.1
Jinja2==3.1.2
MarkupSafe==2.1.5
click==8.1.6
itsdangerous==2.1.2
Werkzeug==2.3.4
cryptography==41.0.7
packaging==24.0
setuptools==68.1.2
six==1.16.0
typing_extensions==4.10.0
pytz==2024.1
PyJWT==2.7.0
rich==13.7.1
wheel==0.42.0
pillow==11.2.1
django-jazzmin==3.0.1
django-crispy-forms==2.4